h1, h2, h3, h4, h5 {
  font-family: 'Pacifico' !important;
}

body, a, input {
  font-family: 'Architects Daughter' !important;
}

.float-right {
  float: right;
}

.logout {
  line-height: 4em !important;
  color: white !important;
}

.margined {
  margin: 10px 0;
}

.haster {
  border: 1px solid #2285a2;
  border-radius: 5px;
  padding: 10px; 
  margin: 10px 0;
}

.haster p {
  color: black !important;
}

.haster strong {
  color: black !important;
}

p {
  margin-bottom: 0.75rem !important;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #2285a2;
  padding-left: 10px;
}

.header h1 {
  color: white !important; 
}